
script(type='text/javascript')
  var map_data = !{chunk};

script(type='text/javascript', src='/js/lib/Stats.js')
script(type='text/javascript', src='/js/lib/RequestAnimationFrame.js')
script(type='text/javascript', src='/js/lib/signals.min.js')
script(type='text/javascript', src='/js/lib/ThreeWebGL.js')
script(type='text/javascript', src='/js/lib/ThreeExtras.js')
script(type='text/javascript', src='/js/main.js')

