// script(type='text/javascript', src='/socket.io/socket.io.js')

script(type='text/javascript', src='/js/lib/Stats.js')
script(type='text/javascript', src='/js/lib/RequestAnimationFrame.js')
script(type='text/javascript', src='/js/lib/signals.min.js')
script(type='text/javascript', src='/js/lib/ThreeWebGL.js')
script(type='text/javascript', src='/js/lib/ThreeExtras.js')

// Load namespace
script(type='text/javascript', src='/js/forge.js')

// Load internal libraries
script(type='text/javascript', src='/js/utils/math.js')
script(type='text/javascript', src='/js/utils/two.js')
script(type='text/javascript', src='/js/utils/orderedmap.js')

// Load app dependencies
script(type='text/javascript', src='/js/models/block.js')
script(type='text/javascript', src='/js/models/player.js')
script(type='text/javascript', src='/js/models/chunk.js')
script(type='text/javascript', src='/js/models/world.js')

script(type='text/javascript', src='/js/modules/cache.js')
script(type='text/javascript', src='/js/modules/chunkModule.js')
script(type='text/javascript', src='/js/modules/cache.js')

script(type='text/javascript', src='/js/controllers/game.js')

// Load app
script(type='text/javascript', src='/js/loader.js')

#loading_screen
  h1 ForgeStruct
  h2 loading...
  img(src='/assets/images/ajax-loader.gif')
