!!!
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    
    title ForgeStruct
    style(text='text/css')
      html, body {
          height: 100%;
      }
      body {
          color: #FFFFFF;
          background: -webkit-linear-gradient(top, #96a9ed 0%,#96a9ed 5%,#c4f6ff 25%,#c4f6ff 100%);
          margin: 0px;
          padding: 0px;
          overflow: hidden;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 14px;
      }
      
      #gl_canvas {
        position: absolute;
        left: 0;
        top: 0;
        
        -webkit-transform: scale3d(2.0, 2.0, 1.0);
        -webkit-transform-origin: 0 0 0;
      }

      #loading_screen {
        position: relative;
        z-index: 10000;
        margin: 0px auto;
        height: 100%;
        padding-top: 200px;
        
        background: #EEEEFF;
        text-align: center;
      }

      h1 {
        margin: 0;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
      }
      
      h2 {
        font-weight: normal;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
      }

      script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23494273']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    body!= body
